<h5 id="start">About the Project</h5>

        <h6>General Information</h6>
        <p>
          First thing's first...here's a <a target="_blank" href="https://postimg.cc/pm4knY8g">screenshot</a> in case it completely dies on the day!
        </p>

        <hr>
        <p>
          The search can be ran using just the URL and one search term, but up to three terms can be used if required.
        </p>

        <hr>
        <p>
            The second page column will either return <strong>'Success!'</strong>, or <strong>'Error Occured!'</strong> 
            depending on the outcome. Currently, a generic message will appear if the user 
            input is not sufficient, or a more tailored message should the search return zero results.
        </p>

        <br>
        <h6>Software Used</h6>
        <ul>
            <li>Visual Studio 2017</li>
            <li>Angular 7.0.5</li>
        </ul>

        <br>
        <h6>Problems</h6>
        <ul>
            <li>Whole (shared office) IP blocked by Google due to my relentless searching via a program!</li>
            <li>Having to use a VPN from various countries to carry on.</li>
            <li>Took some time to get used to Angular again.</li>
            <li>Not fully sure if my REGEX is working 100%.</li>
        </ul>

        <br>
        <h6>Extra Information</h6>
        <p>If there are cross browser issues, use the following code using Windows + R:</p>
        <ul>
            <li>Run the following to open a new Chrome instance with security settings disabled: <strong>chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security</strong></li>
            <li>Use URL <strong>http://localhost:XXXX/</strong> to access the local project (replace XXXX with your port [typically 4200]).</li>
        </ul>
